<mat-toolbar color="primary">
   <mat-toolbar-row>
      <span><a style="color: #FFFFFF" href="/"><mat-icon>home</mat-icon></a></span>
      <span class="spacer"></span>
      <a mat-button routerLink="/sign-up">Register</a>
      <a mat-button routerLink="/login">Login</a>
      <a mat-button routerLink="/dashboard">Dashboard</a>
   </mat-toolbar-row>
</mat-toolbar>
<div class="main-div">
<mat-toolbar style="justify-content: space-around">
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form" [formGroup]="loginForm">
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input formControlName="email"  matInput  placeholder="Email" name="email">
           </mat-form-field>
           <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input formControlName="password"  matInput  placeholder="Password" name="password">
           </mat-form-field>
        </form>
     </mat-card-content>
     <mat-card-actions>
        <button mat-raised-button routerLink="/dashboard"  color="primary">LOGIN</button>
      <button routerLink="/sign-up" mat-raised-button  color="primary">REGISTER</button>
   </mat-card-actions>
  </mat-card>
</div>